<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>persistentType</key>
		<string>My IPHONE</string>
		<key>itemType</key>
		<string>备忘</string>
		<key>items</key>
		<array>
			<dict>
				<key>username</key>
				<string>zhangsan</string>
				<key>password</key>
				<string>123</string>
				<key>website</key>
				<string>zhangsan.com</string>
				<key>note</key>
				<string>This is a note!</string>
			</dict>
			<dict>
				<key>username</key>
				<string>lisi</string>
				<key>password</key>
				<string>abc</string>
				<key>website</key>
				<string>lisi.com</string>
				<key>note</key>
				<string>This is a note!</string>
			</dict>
		</array>
	</dict>
	<array>
        <dict>
            <key>persistentType</key>
            <string>My IPHONE</string>
            <key>itemType</key>
            <string>备忘</string>
            <key>items</key>
            <array>
                <dict>
                    <key>username</key>
                    <string>zhangsan</string>
                    <key>password</key>
                    <string>123</string>
                    <key>website</key>
                    <string>zhangsan.com</string>
                    <key>note</key>
                    <string>This is a note!</string>
                </dict>
                <dict>
                    <key>username</key>
                    <string>lisi</string>
                    <key>password</key>
                    <string>abc</string>
                    <key>website</key>
                    <string>lisi.com</string>
                    <key>note</key>
                    <string>This is a note!</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>persistentType</key>
            <string>My IPHONE</string>
            <key>itemType</key>
            <string>备忘</string>
            <key>items</key>
            <array>
                <dict>
                    <key>username</key>
                    <string>zhangsan</string>
                    <key>password</key>
                    <string>123</string>
                    <key>website</key>
                    <string>zhangsan.com</string>
                    <key>note</key>
                    <string>This is a note!</string>
                </dict>
                <dict>
                    <key>username</key>
                    <string>lisi</string>
                    <key>password</key>
                    <string>abc</string>
                    <key>website</key>
                    <string>lisi.com</string>
                    <key>note</key>
                    <string>This is a note!</string>
                </dict>
            </array>
        </dict>
	</array>
</array>
</plist>
